nav {
    display: flex;
    justify-content: space-between;
    background-color: #a5b68d;
    padding: 10px;
}

.titulo_principal h1 {
    text-align: center;
    font-size: 36px;
    color: #a5b68d;
}

.menu, .menu_login {
    display: flex;
    align-items: center;
}

.menu h3, .menu_login h3 {
    color: #fcfaee;
    margin: 0 15px;
    cursor: pointer;
}

.menu h3:hover, .menu_login h3:hover {
    color: #da8359;
}

.historia {
    padding: 20px;
    background-color: #ecdfcc;
    color: #333;
}

.historia h2 {
    color: #a5b68d;
    margin-bottom: 10px;
}

.historia ul {
    list-style: disc;
    margin-left: 20px;
}

.historia ul li {
    margin: 5px 0;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

p {
    font-size: 10px;
}
